<script type="text/javascript" charset="utf-8">
var db = window.openDatabase("test", "1.0", "Test DB", 1000000);
function populateDB(tx) {
     tx.executeSql('DROP TABLE IF EXISTS DEMO');
     tx.executeSql('CREATE TABLE IF NOT EXISTS DEMO (id unique, data)');
     tx.executeSql('INSERT INTO DEMO (id, data) VALUES (1, "First row")');
     tx.executeSql('INSERT INTO DEMO (id, data) VALUES (2, "Second row")');
}

function errorCB(err) {
    alert("Error processing SQL: "+err.code);
}

function successCB() {
    alert("success!");
}

var db = window.openDatabase("Database", "1.0", "Cordova Demo", 200000);
db.transaction(populateDB, errorCB, successCB);
</script>
<p>This is the partial for view 1.</p>

<div class="PGapp">
    <!-- <img src="img/logo.png"> -->
    <h1 class="PG">jB</h1>
    <div id="deviceready">
        <p class="status pending blink" ng-hide="deviceready">Connecting to Device</p>
        <p class="status complete blink" ng-show="deviceready">Device is Ready</p>
    </div>
</div>