<div class="PGapp">
    <!-- <img src="img/logo.png"> -->
    <h1 class="PG">jB</h1>
    <div id="deviceready">
        <p class="status pending blink" ng-hide="deviceready">Connecting to Device</p>
        <p class="status complete blink" ng-show="deviceready">Device is Ready</p>
    </div>   
</div>
<script type="text/javascript">

       // Wait for Cordova to load
    //
    document.addEventListener("deviceready", onDeviceReady, false);

    // Cordova is ready
    //
    function onDeviceReady() {
        window.localStorage.setItem("key", "value");
        var keyname = window.localStorage.key(i);
        // keyname is now equal to "key"
        var value = window.localStorage.getItem("key");
        // value is now equal to "value"
        window.localStorage.removeItem("key");
        window.localStorage.setItem("key2", "value2");
        window.localStorage.clear();
        // localStorage is now empty
    }
</script>